<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>

    <add name="rashad.Properties.Settings.RashadConnectionString" connectionString="Data Source=.;Initial Catalog=Rashad;Integrated Security=True" providerName="System.Data.SqlClient" /><add name="RashadEntities" connectionString="metadata=res://*/MOdel.Rashad.csdl|res://*/MOdel.Rashad.ssdl|res://*/MOdel.Rashad.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Rashad;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="RashadEntities1" connectionString="metadata=res://*/MOdel.Rashad.csdl|res://*/MOdel.Rashad.ssdl|res://*/MOdel.Rashad.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Rashad;User ID=sa;Password=dev8479;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>